/* css for the Authentic page */
.authentic-container{
    width: 100%;
    height: 100svh;
    background-color: rgb(  44, 142, 44);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.left-Acontainer{
    width: 35%;
    height:90% ;
    border-radius: 2px;
    background-color: aliceblue;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.right-Acontainer{
    display: flex;
    width: 35%;
    height:90% ;
    background-color: rgb(18, 6, 72);
    border-radius: 2px;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.right-content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.right-content svg{
    font-size: 12svh;
    transform: translateZ(40deg);
    transition: all ease-in 500ms;
}
.right-title{
    font-size: 25px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.left-svg{
    padding-left: 12px;
}
.left-svg svg{
   font-size: 40px;
   color: black;
   
}
/* Register form style */
.reg-container{
    /* background-color: rgb(143, 142, 142); */
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    align-items: center;
}
 .reg-container form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 12px;
 }
 .reg-inputConatiner{
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    color: rgb(19, 19, 19);
 }
 .reg-inputConatiner input{
    outline: none;
    background-color: rgb(202, 254, 254);
    border-radius: 5px;
    height: 5svh;
    width: 35svh;
 }
 .regbtn-container{
    width: 100%;
    height: 7svh;
 }
 .reg-btn{
    width: 100%;
    border-radius: 5px;
    background-color: rgb(3, 3, 72);

 }