/* css for the Authentic page */
.authentic-container{
    width: 100%;
    height: 100svh;
    background-color: rgb(  44, 142, 44);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.left-Acontainer{
    width: 35%;
    height:90% ;
    border-radius: 2px;
    background-color: aliceblue;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.right-Acontainer{
    display: flex;
    width: 35%;
    height:90% ;
    background-color: rgb(18, 6, 72);
    border-radius: 2px;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.right-content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.right-content svg{
    font-size: 12svh;
    color: silver;

}
.right-title{
    font-size: 25px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.left-svg{
    width: 10%;
    margin-left: 12px;
    margin-top: 12px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.left-svg svg{
   font-size: 40px;
   color: black; 
}
/* Register form style */
.reg-container{
    /* background-color: rgb(143, 142, 142); */
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    align-items: center;
}
.regTitle{
    font-size: 30px;
    font-weight: 800;
    color: rgb(47, 47, 47);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-bottom: 12px;
    margin-top: 12px;
    box-shadow: rgba(27, 31, 35, 0.04) 0px 1px 0px, rgba(255, 255, 255, 0.25) 0px 1px 0px inset;
}

 .reg-container form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 12px;
 }
 .reg-inputConatiner{
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    color: rgb(41, 41, 41);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 500;
 }
 .reg-inputConatiner label{
    font-size: 15px;
    font-weight: 800;
    color: rgb(41, 41, 41);
 }
 .reg-inputConatiner input{
    outline: none;
    background-color: #edffff;
    border-radius: 5px;
    height: 5svh;
    width: 35svh;
    padding-left:5px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
 }
 .regbtn-container{
    width: 100%;
 }
 .reg-btn{
    width: 100%;
    height: 5svh;
    border-radius: 5px;
    background-color: rgb(3, 3, 72);
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
 }
 /* shared  style */
 .cross-line{
    width: 100%;
    border-bottom: 2px solid rgb(173, 173, 173);
 }
 .jump-to{
    display: flex;
    flex-direction: row;
    color: black;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    column-gap: 12px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
 }
 .jump-to:hover{
    color: rgb(83, 210, 44);
 }
 .jump-to svg{
    font-size: 40px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
 }
/* end of share style */

/* login form style */
.log-container{
   /* background-color: rgb(143, 142, 142); */
   display: flex;
   flex-direction: column;
   flex: 1;
   justify-content: center;
   align-items: center;
}
.logTitle{
   font-size: 30px;
   font-weight: 800;
   color: rgb(47, 47, 47);
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   margin-bottom: 12px;
   margin-top: 12px;
   box-shadow: rgba(27, 31, 35, 0.04) 0px 1px 0px, rgba(255, 255, 255, 0.25) 0px 1px 0px inset;
}
.log-container form{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   row-gap: 12px;
}
.log-inputConatiner{
   display: flex;
   flex-direction: column;
   row-gap: 5px;
   color: rgb(41, 41, 41);
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   font-weight: 500;
}
.log-inputConatiner label{
   font-size: 15px;
   font-weight: 800;
   color: rgb(41, 41, 41);
}
.log-inputConatiner input{
   outline: none;
   background-color: #edffff;
   border-radius: 5px;
   height: 5svh;
   width: 35svh;
   padding-left:5px;
   box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.logbtn-container{
   width: 100%;
}
.log-btn{
   width: 100%;
   height: 5svh;
   border-radius: 5px;
   background-color: rgb(3, 3, 72);
   box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}