.dash-container{
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: auto auto;
    padding-top:3px; 
}
.dash-sidebar{
    position: fixed;
    display: flex;
    justify-content: center;
    grid-column: 1/2;
    grid-row: 1/3;
    height: 99.5svh;
    border-radius: 5px;
    background-color: #101011;
    box-shadow: rgba(44, 44, 82, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.dash-upperboard{
    grid-column: 2/3;
    grid-row: 1/2;
    background-color: whitesmoke;
    height: 25svh;
    border-radius: 5px;
    overflow-y:hidden ;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.dash-maincontainer{
    grid-column: 2/3;
    grid-row: 2/3;
    background-color: white;
    height: 75svh;
    border-radius: 5px;
    padding: 2px;
    margin-top: 4px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

/* Navigation bar  style */
.nav-container{
    padding: 12px;

}
.nav-upper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.nav-searchbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid rgb(175, 175, 175);
    border-radius: 5px;
    height: 4svh;
    padding: 2px;
    margin-top: 10px;
    margin-bottom: 20px;
}
.nav-searchbar input{
    outline: none;
}
.nav-searchbar svg{
    height: auto;
    width: auto;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
}
.navlink-container{
    margin-top: 22px;
    display: flex;
    padding-right: 5%;
    padding-left: 5%;
    margin-top: 12px;
    margin-bottom: 22px;
}
.navlink-container ul{
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    align-items: center;
    column-gap: 5px;
}
.nav-container ul li{
    color:silver
}
.nav-crossline{
    border-bottom: 2px solid grey;
    margin-top: 12px;
    margin-bottom: 12px;
    padding: 0%;
}
.nav-account{
    position: absolute;
    bottom: 5%;
    left: 20px;
}
.nav-imagecontainer{
    background-color: rgb(255, 255, 255);
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
/* style for the apper board */

.page-title{
    font-size: 30px;
    font-weight: 900;
    color: #101011;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.upper-innercontainer{
    padding: 10px;
    display: flex;
    /* justify-content: center; */
    align-items: center;
}
.unv-title{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    column-gap: 5px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
    
}
.optional-dashcontainer{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 5px;
    
}
.optional-dash{
  background-color: #868686;
  width: 8%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
.Upper-searchbar{
    width: 20%;
    display: flex;
    align-items: center;
    border: 3px solid rgb(96, 96, 96);
    border-radius: 5px;
    height: 4svh;
    padding: 2px;
    margin-top: 10px;
    column-gap:0%;
    margin-bottom: 20px;
    justify-content: space-between;
    margin-left: 12px;

}
.Upper-searchbar input{
    color:#101011;
    outline: none;
}
